RESEND_API_KEY=
CONTACT_TO_EMAIL=nicolasalvarezbernal@gmail.com
CONTACT_FROM_EMAIL=Aplicanza <contacto@tudominio.com>
NEXT_PUBLIC_WHATSAPP_NUMBER=573002968009
NEXT_PUBLIC_SITE_URL=http://localhost:3000
